Django==5.2.17
django-adminactions==2.4
django-autoslug==1.9.9
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.1
gunicorn==26.2.0
Pillow==12.3.0
psycopg[binary]==3.3.5
vobject==0.9.9
black
mypy
mypy-extensions
