Django==2.2.28
django-adminactions==1.6.0
django-autoslug==1.9.4
django-cors-headers==3.0.2
django-filter==2.4.0
djangorestframework==3.15.2
gunicorn==19.9.0
Pillow==9.3.0
psycopg2-binary==2.8.4
unicodecsv==0.14.1
vobject==0.9.6.1
black
mypy
mypy-extensions
