Django==1.8.14
Pillow==2.7.0
django-filter==0.9.2
djangorestframework==3.0.5
psycopg2==2.6.1
vobject==0.6.6
django-adminactions==0.7
django-admin-bootstrapped==2.3.3
django-cors-headers==1.0.0
django-autoslug==1.9.3
ipython==4.0.0
