{% extends "master.html" %}

{% block title %}Lista Hũ - Resultados de busqueda{% endblock %}

{% block content %}
<h2>{{ msg }}</h2>

 <form method="get" action="/buscar/" onsubmit="return false;" class='pure-form' id="buscar">
    <input type="search" name="q" value="" placeholder="0981XXXXXX" class='pure-input-1-2'/>    
    <button type="submit" onclick="window.location.href=this.form.action + this.form.q.value;" value="Buscar" class='button-large pure-button'/>
     <i class="fa fa-search-plus fa-lg"></i> Buscar
    </button>
</form>
<!-- <div class="pure-g"> -->
<div id="columns">
{% for entry in numeros %}

    <div class="pure-u-1-4" style="margin-right:1em" title="{{entry.desc}}">
    <figure>
    <label>Número: </label>
    {{ entry.numero }}
    
     <a href="/media/{{ entry.screenshot }}" target="_blank"> <img class="pure-img-responsive" src="/media/{{ entry.screenshot }}"  alt="{{entry.desc}}"/></a>
	
    <figcaption>
    <label>Tipo: </label>{{ entry.tipo }}
    <label>Agregado: </label>{{ entry.added }}
    </figcaption>
    </figure>
    </div>

{% endfor %}
</div>
<div >
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54eb1e2b124a1f4d" async="async"></script>

Ayuda a difundir la lista 
<!-- 	<a href="https://twitter.com/share?hashtags=listahu&text=Acabo de agregar un número a la Lista Hũ "><i class="fa fa-twitter negro fa-2x"></i></a>
	<a href="http://www.facebook.com/sharer.php?s=100&p[title]=Lista Hũ - Resultados de busqueda&p[url]=http://listahu.org&p[summary]=Resultados de busqueda&p[images][0]=http://www.datos.org.py/datos/organization/lista-hu"><i class='fa fa-facebook negro fa-2x	'></i></a>
	<a href="whatsapp://send" data-text="Acabo de agregar un número a la Lista Hũ" data-href="" class="wa_btn wa_btn_s" ><i class="fa fa-whatsapp negro fa-2x"></i></a> -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
</div>
<!-- </div> -->
{% endblock %}