{% extends "master.html" %}

{% block title %}Lista Hũ - Resultados de busqueda{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
  {% endfor %}
</ul>
{% endif %}
<h2>{{ msg }}&emsp;</h2>

 <form method="get" action="/buscar/" onsubmit="return false;" class='pure-form' id="buscar">
    <input type="search" name="q" value="" placeholder="0981XXXXXX" class='pure-input-1-2' aria-label="Buscar" title="Buscar">    
    <button type="submit" onclick="window.location.href=this.form.action + this.form.q.value;" value="Buscar" class='button-large pure-button'>
     <i class="fa fa-search-plus fa-lg" title="Simbolo de busqueda"></i> Buscar
    </button>
</form>
{% if  withthumbs|length  == 1 %}
	Se encontró {{ withthumbs|length  }} denuncia
{% elif withthumbs|length  > 1 %}
	Se encontraron {{ withthumbs|length  }} denuncias
{% endif %}

<div id="column">
{% for entry in withthumbs %}

    <div class="pure-u-1-4" style="margin-right:1em" title="Denuncia #{{entry.0.id}}">
    <figure>
    <label>Número: </label>
    {{ entry.0.numero }}
    
     <a href="/media/{{ entry.0.screenshot }}" target="_blank"> <img class="pure-img-responsive" src="/media/{{ entry.1 }}"  title="{{entry.0.desc}}" /></a>
 
    <figcaption>
    <label>Tipo: </label>{{ entry.0.tipo }}
    <label>Agregado: </label>{{ entry.0.added }}
    </figcaption>
    </figure>
    </div>
{% endfor %}
 {{ thumbs }}
</div>
<div >
</div>
{% endblock %}