{% extends "master.html" %}

{% block title %}Lista Hũ - Resultados de busqueda{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
  {% endfor %}
</ul>
{% endif %}
<h2>{{ msg }}&emsp;</h2>

 <form method="get" action="/buscar/" onsubmit="return false;" class='pure-form' id="buscar">
    <input type="search" name="q" value="" placeholder="0981XXXXXX" class='pure-input-1-2'/ aria-label="Buscar" title="Buscar">    
    <button type="submit" onclick="window.location.href=this.form.action + this.form.q.value;" value="Buscar" class='button-large pure-button'>
     <i class="fa fa-search-plus fa-lg" alt="Simbolo de busqueda"></i> Buscar
    </button>
</form>
{% if  numeros|length  == 1 %}
	Se encontró {{ numeros|length  }} denuncia
{% elif numeros|length  > 1 %}
	Se encontró {{ numeros|length  }} denuncias
{% endif %}
<!-- <div class="pure-g"> -->
<div id="columns">
{% for entry in numeros %}

    <div class="pure-u-1-4" style="margin-right:1em" title="{{entry.desc}}">
    <figure>
    <label>Número: </label>
    {{ entry.numero }}
    
     <a href="/media/{{ entry.screenshot }}" target="_blank"> <img class="pure-img-responsive" src="/media/{{ entry.screenshot }}"  alt="{{entry.desc}}"/></a>
	
    <figcaption>
    <label>Tipo: </label>{{ entry.tipo }}
    <label>Agregado: </label>{{ entry.added }}
    </figcaption>
    </figure>
    </div>

{% endfor %}
</div>
<div >
</div>
<!-- </div> -->
{% endblock %}