{% extends "master.html" %}
{% block title %}Lista Hũ{% endblock %}

{% block content %}
<script type="text/javascript">
    function scrollTo(hash) {
       location.hash = "#" + hash;
    }
    if ('fail'=='{{fail}}'){
        console.log('failed form')
        scrollTo('denuncia')
    }
</script><noscript>&emsp;</noscript>

<div class="content">
            <a id="que"></a> <h2 class="content-subhead"><i class="fa fa-question-circle fa-lg negro" title="Icono de pregunta"></i> ¿Qué es?</h2>
            <p>
               Lista Hū es un proyecto que nace con el fin de crear una base de datos de números telefónicos que realizan llamadas o envían mensajes no deseados. Estos mensajes y/o llamadas son usualmente de extorsión, estafa o publicidad invasiva. El objetivo es identificar colectivamente a estos números para su posterior bloqueo desde una lista negra o lista hū.
            </p>

            <a id="idea"></a><h2 class="content-subhead" ><i class="fa fa-lightbulb-o fa-lg negro" title="Icono de idea"></i> La idea</h2>
            <p>
                Todos los días vemos en las distintas plataformas de noticias una cantidad abrumadora de personas que <a href="http://www.abc.com.py/nacionales/piden-denunciar-las-llamadas-extorsivas-1335867.html">reciben llamadas y/o mensajes de tinte extorsivo (secuestros virtuales) o no deseado.</a> Muchas de estas personas son estafadas en su buena fe o son víctimas de violación de privacidad desde la venta de bases de datos con sus números telefónicos.
            </p><p>
                Lista Hū tiene por objetivo utilizar el recurso más importante de una comunidad, la colaboración entre sus miembros, para poder generar una base de datos que permita primero identificar y luego bloquear a los números que realizan este tipo de comunicaciones.
            </p><p>
                Actualmente se puede descargar la lista hū y consultar los números que están en ella, pero en un futuro cercano y con ayuda de la comunidad se pretende crear una app que se actualice automáticamente con los datos de la lista negra para bloquear así a estos números y reducir el riesgo potencial de recibir este tipo de comunicaciones.
            </p><p>
                Para colaborar con la lista hū basta con que llenes los campos del formulario y adjuntes una captura de pantalla del mensaje o, si se trata de una llamada, una captura del registro telefónico de tu celular en donde aparezca el número a ser denunciado.
            </p>
            <a id="denuncia"></a>
            <div class="borde">
            <h2 ><i class="fa fa-exclamation-triangle fa-lg negro" title="Icono de alerta"></i> Denunciá</h2>
            
                <form action="/" method="post" class="pure-form pure-form-stacked" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }} 
                <input type="submit" value="Enviar denuncia" />
                </form>
                <p></p>

            
            </div>
            <a id="ejemplos"></a><h2 class="content-subhead"><i class="fa fa-camera-retro fa-lg negro" title="Icono de una cámara"></i> Ejemplos</h2>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d1.jpg" alt="Captura de pantalla de ejemplo" />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d2.jpg" alt="Captura de pantalla de ejemplo" />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d3.jpg" alt="Captura de pantalla de ejemplo" />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d4.png" alt="Captura de pantalla de ejemplo" />
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d6.jpg" alt="Captura de pantalla de ejemplo" />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d5.jpg" alt="Captura de pantalla de ejemplo" />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d8.png" alt="Captura de pantalla de ejemplo" />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d7.jpg" alt="Captura de pantalla de ejemplo" />
                </div>
            </div>

           
            <p>
                
            </p>
             <a id="descargar"></a><h2 class="content-subhead"><i class="fa fa-cloud-download fa-lg negro" title="Icono nube"></i> Descargá la Lista Hũ</h2>
            <p>
               Podés bajarla directamente a tu celular en un formato de archivo de contactos (vCard) para poder identificar si es que la llamada o mensaje que recibís pertenece a un remitente que ya fue denunciado por la comunidad. También está disponible en formato .csv (compatible con Excel) para ver los datos de la lista.</p>
            <p>
                La documentación del API para desarrolladores está en proceso pero ya podés consultar la lista completa a través de un API RESTful que devuelve los datos en JSON.
            </p>

            <h2 class="content-subhead">Actualemente Hay {{denuncias}} registros</h2>
                <ul>
                    <li><i class="fa fa-users fa-lg" title="Icono descarga"></i> Descargá el <a href="/descargar/vcard">archivo de contacto</a></li>
                    <li><i class="fa fa-table fa-lg" title="Icono tabla"></i> Descargá en <a href="/descargar/csv">formato CSV</a></li>
                    <li><i class="fa fa-file-code-o fa-lg" title="Icono de Codigo"></i> Consultá en <a href="/api/v1/lista">JSON</a></li>
                </ul>
                <p style="font-size:1.17em;margin:1em 0; font-weight: bold;">Para mas opciones de descarga(listas filtradas) <a href="/descargar">ingresá acá</a></p>

             <a id="futuro"></a><h2 class="content-subhead"><i class="fa fa-clock-o fa-lg negro" title="Icono reloj"></i> A futuro</h2>
             <p>Además del desarrollo de una app para bloqueo automático de números denunciados por la comunidad se trabajará en un filtro de la lista por tipo de denuncia (números extorsivos, números de SPAM comercial, etc.), también un sistema de calificación de cada denuncia para validar los datos denunciados y la capacidad de descargar y bloquear solamente los números denunciados y verificados por la misma comunidad con sus votos.
            </p><p>
            Si tu número figura en la Lista Hū y crees que no debería estar allí por favor utiliza el formulario de contacto para solicitar su baja.</p>
            
    </div>
{% endblock %}
