{% extends "master.html" %}
{% block title %}Lista Hũ{% endblock %}

{% block content %}

<div class="content">
            <a id="que"></a> <h2 class="content-subhead"><i class="fa fa-question-circle fa-lg"></i> ¿Qué es?</h2>
            <p>
                Este proyecto nace para crear una base de datos de mensajes y llamadas no deseadas, sean SPAM, extorsión o estafa, para identificar y eventualmente para poder bloquearlos, una lista negra.
            </p>

            <a id="idea"></a><h2 class="content-subhead" ><i class="fa fa-lightbulb-o fa-lg"></i> La idea</h2>
            <p>
                Como cada día hay <a href="http://www.abc.com.py/nacionales/piden-denunciar-las-llamadas-extorsivas-1335867.html">noticias de estafas, extorsiones y otros crímenes </a> realizados a través de mensajes o llamadas a celulares y la gente sigue cayendo Lista Hũ apunta a identificar las lineas de que están haciendo esto. Recabar estos datos solo se puede lograr con el esfuerzo colectivo. Actualmente se puede descargar la lista y consultar los números pero la idea es un futuro cercano hacer una app que se actualice con los datos de la lista para bloquear automáticamente los mensajes y llamadas molestas o potencialmente peligrosas.
            </p>
            <p>Para agregar un número basta con llenar el formulario con el número y una captura de pantalla del mensaje o si fue una llamada al menos la captura de pantalla del registro de llamadas.</p>
            <a id="denuncia"></a>
            <div class="borde">
            <h2 ><i class="fa fa-exclamation-triangle fa-lg"></i> Denunciá</h2>
            
                <form action="/" method="post" class="pure-form pure-form-stacked" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }} 
                <input type="submit" value="Enviar denuncia" />
                </form>
                <p></p>

            
            </div>
            <a id="ejemplos"></a><h2 class="content-subhead"><i class="fa fa-camera-retro fa-lg"></i> Ejemplos</h2>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d1.jpg" alt />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d2.jpg" alt />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d3.jpg" alt />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d4.png" alt />
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d6.jpg" alt />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d5.jpg" alt />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d8.png" alt />
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imgs/d7.jpg" alt />
                </div>
            </div>

           
            <p>
                
            </p>
             <a id="descargar"></a><h2 class="content-subhead"><i class="fa fa-cloud-download fa-lg"></i> Descargá la Lista Hũ</h2>
            <p>
                Podes descargar directamente a tu telefono en un archivo de contactos(vCard) para identificar si es que te escriben o llaman desde algun numero de la lista,
                también está disponible en CSV(compatible con Excel) para ver los datos.<br>
                La documentación del API está en progreso pero ya podes consultar la lista completa, es un API RESTful, devuelve los datos en JSON.
            </p>

            <h2 class="content-subhead">Actualemente Hay {{denuncias}} registros</h2>
                <ul>
                    <li><i class="fa fa-users fa-lg"></i> Descargá el <a href="/descargar/vcard">archivo de contacto</a></li>
                    <li><i class="fa fa-table fa-lg"></i> Descargá en <a href="/descargar/csv">formato CSV</a></li>
                    <li><i class="fa fa-file-code-o fa-lg"></i> Consultá en <a href="/api/v1/lista">JSON</a></li>
                </ul>

             <a id="futuro"></a><h2 class="content-subhead"><i class="fa fa-clock-o fa-lg"></i> A futuro</h2>
             <p>Además de la app para bloquear automáticamente la idea es poder descargar la lista filtrado por tipo de denuncia, también ofrecer un sistema de votaciones para calificar como válida o no la denuncia, descargar solo las denuncias verificadas.</p>
             <p>Si tu número figura en la lista y crees que no debería estar utilizá el formulario de contacto para solicitar darlo de baja.</p>
    </div>
{% endblock %}
