<!doctype html>
<html lang="es">
<head>
{% load staticfiles %}
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Lista negra de numeros de SPAM, extorsión y estafas">
<meta property="og:title" content="Lista Hũ" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://listahu.org/" />
<meta property="og:image" content="http://listahu.org/static/imgs/logo.png" />
<link rel="image_src" href="http://listahu.org/static/imgs/logo.png"/>

    <title>{% block title %}Lista Hũ{% endblock %}</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!-- <link rel="stylesheet" href="/static/css/pure-skin-dark.css"> -->
<link rel="stylesheet" href="/static/css/pure-skin-light.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/side-menu.css">

    <!--<![endif]-->
<link rel="shortcut icon" href="/static/favicon.ico" />  
</head>
<body>
<!-- <div class="fondo"></div> -->
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/#"><i class="fa fa-ban fa-lg"></i> Lista Hũ</a>
            {% block menu %}
            <ul>
                <li><a href="/#que">¿Qué es?</a></li>
                <li><a href="/#idea">Idea</a></li>
                <li><a href="/#denuncia">Denunciá</a></li>
                <li><a href="/#ejemplos">Ejemplos</a></li>
                <li><a href="/#descargar">Descargá la lista</a></li>
                <li><a href="/#futuro">A futuro</a></li>
                <li class="menu-item-divided pure-menu-selected">
                    <a href="#"><i class="fa fa-info-circle fa-lg"></i> Más Info</a>
                </li>
                <li><a href="/navegar">Navegá la lista!</a></li>
                <li><a href="/top">Top 50</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/contacto">Contacto</a></li>
                


                <li class="menu-item-divided pure-menu-selected">
                    <a href="/buscar"><i class="fa fa-search-plus fa-lg"></i> Buscar numero</a>
                </li>
            </ul>
                <form method="get" action="/buscar/" onsubmit="return false;" class='pure-form'>
                    <input type="search" name="q" value="" placeholder="Ej. 0981XXXXXX" class='pure-input-1'/>
                    <input type="submit" style="position: absolute; left: -9999px" onclick="window.location.href=this.form.action + this.form.q.value;" value="Buscar" class='button-large pure-button'/>
                </form>



            {% endblock %}
            

        </div>
    </div>

    <div id="main">

        <div class="header">
            <h1><i class="fa fa-ban fa-lg"></i> Lista Hũ</h1>
            <h2>Denunciá los mensajes y llamadas no deseadas</h2>
        </div>
        <img src='/static/imgs/logo.png' style="display:none" />

        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>

</div>

<footer>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
<img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
<br/>
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type"> Desarrollado por Marcelo Elizeche Landó. Los datos de Lista Hũ</span>
están distribuidos bajo la<br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional</a> 
<br>y el código bajo la licencia GPLv3. <a href="https://github.com/melizeche/listahu" target="_blank"><i class="fa fa-github-alt"></i>Revisa el código en GitHub</a
</footer>
<script src="/static/js/ui.js"></script>
<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59895974-1', 'auto');
  ga('send', 'pageview');
  /*ga('set', '&uid', {{USER_ID}}); // Set the user ID using signed-in user_id.*/

</script>

</body>
</html>
